@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:wght@300&display=swap");

* {
    box-sizing: border-box;
}
section {
    position: relative;
    justify-content: center;
    align-items: center;
    top: -15px;
    font-family: "Work Sans", sans-serif;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}



.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.brand span {
    color: #ffffff;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
    padding: 1em;
}
#popover {
    z-index: 10000;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.contact-info {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #0f3959;
}

section .container .contact-info h2,
section .container .contact-info ul {
    color: white;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 2px 65px 3rem 41px;
}

section .container .wrapper .contact-info .info li {
    list-style: none;
    display: flex;
    margin: 15px 0;
    cursor: pointer;
    align-items: flex-start;
    filter: invert(1);
    opacity: 0.65;
}
section .container .wrapper .contact-info li i {
    margin-right: 3px;
}
section .container .wrapper .contact-info li:hover {
    opacity: 1;
}

section .container .wrapper .contact-info .sci {
    position: relative;
    display: flex;
}
section .container .wrapper .contact-info .sci li {
    list-style: none;
    margin-right: 12px;
}

section .container .wrapper .contact-info .sci li a {
    text-decoration: none;
}
section .container .wrapper .contact-info .sci li a ion-icon {
    filter: invert(1);
    opacity: 0.5;
}
section .container .wrapper .contact-info .sci li:hover a ion-icon {
    opacity: 1;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
    background: rgba(0, 0, 255, 0.3);
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* ----------- */
/* INFO ICON */
/* ----------- */

#info {
    position: absolute;
    top: 200px;
}

/* ---- */
/* FORM */
/* ---- */
.contact {
    display: grid;
}
.contact h2 {
    font-family: "Open Sans", sans-serif;
    color: #0f3959;
    font-size: 35px;
    margin-bottom: 11px;
}
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: grid;
    flex-wrap: wrap;
    color: white;
    opacity: 0.8;
}
.contact form label:hover {
    opacity: 1;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 85%;
    padding: 1em;
    border: solid 1px #627edc;
    border-radius: 4px;
}

.contact form input,
.contact form textarea {
    border: 10px;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 900;
    color: rgba(133, 83, 83, 0.801);
    outline: none;
    filter: invert(0.15);
    border-radius: 5px;
    opacity: 0.8;
}
.contact form input:focus,
.contact form textarea:focus {
    opacity: 1;
}

.contact form button {
    background: #627edc;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
    background: #3952a3;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .company-info {
        border-radius: 4px 0 0 4px;
    }

    .contact {
        border-radius: 0 4px 4px 0;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }

    p .full .btn {
        font-weight: 900;
        color: rgb(12, 12, 12);
    }
}
