.homepagecard .carditem img{
    width: 100%;
}

.homepagecard .carditem {
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: rgb(0 106 194 / 20%) 0 1px 4px 0;
    padding: 10px;
    border-radius: 10px;
}

.homepagecard .content {
    margin-top: 0.5rem;
    padding-left: 0;
}

.homepagecard .bold {
    font-weight: 600;
}

.homepagecard .f-small {
    font-size: 0.67rem;
}

.homepagecard .f-large {
    font-size: 1rem;
}

.homepagecard .area{
    align-items: baseline;
}

.homepagecard .far {
    font-size: 1.2rem;
}

.homepagecard{
    margin-inline: 2rem;
}

.homepagecard .title{
  cursor: pointer;
}

.animatable {

    visibility: hidden;

    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .animated {
    visibility: visible;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }

  @-webkit-keyframes bounceIn {
      0% {
          opacity: 0;
          -webkit-transform: scale(.3);
      }
      50% {
          -webkit-transform: scale(1.05);
      }

      70% {
          -webkit-transform: scale(.9);
      }

      100% {
          opacity: 1;
          -webkit-transform: scale(1);
      }
  }

  @-moz-keyframes bounceIn {
      0% {
          opacity: 0;
          -moz-transform: scale(.3);
      }

      50% {
          -moz-transform: scale(1.05);
      }

      70% {
          -moz-transform: scale(.9);
      }

      100% {
          opacity: 1;
          -moz-transform: scale(1);
      }
  }

  @-o-keyframes bounceIn {
      0% {
          opacity: 0;
          -o-transform: scale(.3);
      }

      50% {
          -o-transform: scale(1.05);
      }

      70% {
          -o-transform: scale(.9);
      }

      100% {
          opacity: 1;
          -o-transform: scale(1);
      }
  }

  @keyframes bounceIn {
      0% {
          opacity: 0;
          transform: scale(.3);
      }

      50% {
          transform: scale(1.05);
      }

      70% {
          transform: scale(.9);
      }

      100% {
          opacity: 1;
          transform: scale(1);
      }
  }


  .animated.animationDelay{
      animation-delay:.4s;
      -webkit-animation-delay:.4s;
  }
  .animated.animationDelayMed{
      animation-delay:1.2s;
      -webkit-animation-delay:1.2s;
  }
  .animated.animationDelayLong{
      animation-delay:1.6s;
      -webkit-animation-delay:1.6s;
  }
  .animated.bounceIn {
      -webkit-animation-name: bounceIn;
      -moz-animation-name: bounceIn;
      -o-animation-name: bounceIn;
      animation-name: bounceIn;
  }
