.changeBG {
    height: 100%;
    padding-bottom: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 50px;
}

.login {
    background: #eacda3;
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
    background: linear-gradient(to right, #d6ae7b, #eacda3);
    border-radius: 35%;
    opacity: 0.9;
}
