.navbar {
    position: fixed;
}
.navbarclass .navbar-brand img {
    height: 3rem;
}

.navbarclass .nav-item {
    margin-inline: 4px;
    align-self: center;
}

.navbarclass .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

.navbarclass .nav-link:hover,
.active {
    color: rgba(0, 0, 0, 1);
}

.navbarclass nav {
    height: 3.5rem;
    box-shadow: 0 0 0 rgb(0 0 0 / 20%);
    margin-bottom: 2rem;
}

.navbarclass .navbar-nav li a i {
    color: inherit;
    margin-right: 3px;
}

.navbarclass .navbar-nav li a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: red;
    transition: all ease-in-out 200ms;
    margin: 0 0 0 0;
}
.navbarclass .navbar-nav li a:hover::after {
    width: 100%;
}
.navbar {
    position: relative;
}

nav .modal-content {
    margin-top: 40vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

nav .modal-body a i,
nav .modal-body a {
    color: rgba(255, 255, 255, 1);
}
